<html>
<head>
	<title>test page</title>
</head>

<body>
	
	<form method="POST" action="/content/update/<%= @text.id %>">
	
	<p><label for="name">name: </label><input type="text" name="name" value="<%= @text.name %>" /></p>

    <p><label for="body">body: </label><br /><textarea name="body"><%= @text.body %></textarea></p>
	
	<p><input type="submit" value="submit" /></p>
	
	</form>
		
</body>
</html>
