<html>
<head>
	<title>test page</title>
</head>

<body>
	
	<h1><%= @text.name %></h1>

	<p><pre><%= @text.body %></pre></p>
	
	<hr/>
	<p>last updated: <%= @text.updated_at %></p>

	<div>options: <a href="/content/edit/<%= @text.id %>">edit</a> | <a href="/content/">list</a>
	
</body>
</html>
